---
import { HeroSection } from "@/components/hero-section";
import { TechStack } from "@/components/tech-stack";
import { ExperienceCarousel } from "@/components/experience-carousel";
import { ProjectsCarousel } from "@/components/projects-carousel";
import BaseLayout from "../components/layouts/BaseLayout.astro";

const title = "Gabriel Oliveira";
const description = "Portifólio e blog do desenvolvedor Gabriel Oliveira";
---

<BaseLayout title={title} description={description}>
  <main class="mx-auto flex max-w-3xl flex-col gap-8 px-4 py-16 md:px-6">
    <HeroSection />
    <TechStack />
    <ExperienceCarousel client:visible />
    <ProjectsCarousel client:visible />
  </main>
</BaseLayout>
